.header-container {
  min-height: 100px;
  width: 100%;
  /* opacity: 1; */
  position: sticky;
  top: 0;
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-heading {
  font-size: 1.3rem;
  font-weight: 900;
  padding: 1rem;
}
