.profile-small-username {
  color: black;
  margin-top: 0.1rem;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.guest-user {
  gap: 2rem;
  padding: 0.2rem 0.5rem;
}

.guest-user:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.profile-small-name {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.black-profile-small-username {
  color: #6a6f74;
}
