.post-card {
  /* border: solid; */
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 0.7rem;
}

.post-card:hover {
  background-color: rgba(0, 0, 0, 0.022);
}

.user-avatar {
  object-fit: cover;
  border-radius: 50%;
}

.post-content {
  margin: 0.5rem 0;
  font-weight: 300;
  line-height: 1.3;
}

.post-text {
  margin-left: 0.5rem;
  /* align-self: flex-end; */
  width: 100%;
  position: relative;
}

.post-name {
  font-weight: bold;
  margin-right: 0.5rem;
}

.post-username {
  color: rgba(0, 0, 0, 0.5);
}

.post-timestamp {
  color: rgba(0, 0, 0, 0.7);
}

.empty-line {
  min-height: 10px;
}
