.logout-modal {
  width: 320px;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.logout-modal-heading {
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.logout-modal-text {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 200;
}

.btn-logout-modal {
  padding: 0.7rem;
  border-radius: 1.5rem;
}

.black-logout-modal-container {
  background-color: #242d34;
}

.white-border {
  border: 1px solid rgba(255, 255, 255, 0.381);
}

.black-btn-logout:hover {
  background-color: white;
  color: black;
}
