.signup-modal {
  /* max-width: 400px; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 1rem 8rem 4rem 8rem;
  display: flex;
  flex-direction: column;
  font-size: large;
  border-radius: 1rem;
  gap: 0.8rem;
}

.signup-modal-heading {
  font-size: xx-large;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.signup-modal-input {
  font-size: medium;
  padding: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.show-password-icon {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/* .signup-card-content {
  display: flex;
  flex-direction: column;
} */
