.nav {
  display: flex;
  flex-direction: column;
}

.navlink {
  max-width: fit-content;
}

.nav-left {
  flex-direction: column;
  max-width: 220px;
  margin-left: auto;
  margin-right: 2rem;
  height: 100vh;
}

.nav-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  flex-direction: row;
  justify-content: space-around;
}

.navlink {
  color: black;
  text-decoration: none;
  padding: 1rem 0;
  padding-left: 1rem;
  border-radius: 1rem;
}

div.logo {
  margin-top: 0.5rem;
}

div.logo:hover {
  background-color: white;
  cursor: pointer;
}

.navlink:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.hover-light-black-bg:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navlink-icon {
  font-size: x-large;
}

.navlink-text {
  font-size: larger;
  margin: 0 1.2rem;
}

.btn-tweet {
  border-radius: 2rem;
  color: white;
  font-size: larger;
  background-color: var(--primary-color);
  border: none;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
}

.btn-tweet:hover {
  opacity: 0.8;
}

.below-1200 {
  display: none;
}

.navbar-profile {
  margin-top: auto;
  margin-bottom: 3rem;
  padding: 1rem 1rem 1rem 0.5rem;
  border-radius: 5rem;
}

.navbar-profile-ellipse {
  align-self: center;
  margin-left: auto;
}

.black-nav {
  background-color: black;
  color: white;
}

.black-navlink-icon {
  color: white;
}

.black-navlink-text {
  color: white;
}

.nav-mode-toggle {
  position: fixed;
  border-radius: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid;
  font-size: 1.2rem;
  color: #a0aec0;
  padding: 0.5rem;
  bottom: 50px;
  right: 50px;
}

.nav-mode-toggle:hover {
  background-color: rgba(83, 143, 232, 0.134);
}

.black-nav-mode-toggle:hover {
  background-color: black;
}

.nav-mode-toggle > i {
  color: #a0aec0;
  font-size: 1.5rem;
}

.nav-mode-toggle > i:hover {
  background-color: none;
}

div.dark-logo:hover {
  background-color: black;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .nav {
    gap: 0rem;
  }

  .navlink {
    padding-right: 1rem;
    border-radius: 50%;
  }

  .navlink-text {
    display: none;
  }
  .nav-left {
    align-items: center;
    margin-right: 0;
  }

  .btn-tweet {
    border-radius: 50%;
    padding: 0.7rem;
    aspect-ratio: 1;
  }

  .below-1200 {
    display: block;
  }
  .above-1200 {
    display: none;
  }

  .navbar-profile {
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 0.5rem 0.3rem 0.3rem 0.5rem;
  }
}

@media screen and (max-width: 550px) {
  .navlink-icon {
    font-size: large;
  }
  .navbar-profile {
    margin-bottom: 0;
  }
}
