.who-to-follow {
  margin: 1rem;
  max-width: 350px;
  min-height: 300px;
  background-color: #f7f9f9;
  border-radius: 0.5rem;
}

.who-to-follow-heading {
  font-size: 1.35rem;
  font-weight: 900;
  margin: 0.7rem 0 0.85rem 1rem;
}

.who-to-follow-item {
  display: flex;
  padding: 0.7rem 1rem;
  justify-content: space-between;
}

.who-to-follow-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.btn-who-to-follow {
  border-radius: 1rem;
  padding: 0 1rem;
  border: none;
  margin: 0.3rem 0;
  font-size: 0.9rem;
  background-color: black;
  color: white;
}

.btn-following {
  background-color: inherit;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-following:hover {
  background-color: black;
  color: white;
}

.black-who-to-follow {
  background-color: #16181c;
  color: white;
}

.black-btn-who-to-follow {
  background-color: white;
  color: black;
}

.black-btn-following {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.381);
}
