@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --primary-color: #1d9bf0;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: "Roboto", sans-serif;
}

.color-primary {
  color: var(--primary-color);
}

.modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.bg-opaque {
  background-color: #999999;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* .links {
  position: fixed;
  bottom: 90px;
} */

.link {
  color: var(--primary-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.app-container {
  display: grid;
  grid-template-columns: 0.8fr 1.5fr 1.2fr;
  grid-template-areas: "left middle right";
}

.left {
  grid-area: left;
  position: sticky;
  top: 0;
  /* position: fixed; */
  /* background-color: red; */
  /* width: 200px; */
  height: 600px;
  z-index: 1;
}

.middle {
  grid-area: middle;
  min-width: 200px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 100vh;
}

.right {
  display: flex;
  flex-direction: column;
  grid-area: right;
  position: sticky;
  top: 0;
  /* position: fixed; */
  /* background-color: green; */
  /* width: 200px; */
  height: 600px;
}

.bottom {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  /* height: 100px; */
}

.pointer:hover {
  cursor: pointer;
}

.btn {
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  margin-top: 0.3rem;
  /* font-weight: bold; */
  font-size: 1rem;
  cursor: pointer;
}

.btn-primary {
  /* padding: 0 1rem; */
  border: none;
  background-color: black;
  color: white;
}

.btn-secondary {
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-secondary:hover {
  background-color: black;
  color: white;
}

.pink {
  color: #f91880;
}

.primary-color {
  color: var(--primary-color);
}

.hover-pink:hover {
  color: #f91880;
}

.hover-primary-color:hover {
  color: var(--primary-color);
}

.filters {
  display: flex;
  /* justify-content: space-around; */
}

.filter-item-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  min-height: 50px;
}

.filter-item-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.filter-item {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: max-content;
  height: 100%;
  /* align-items: center; */
  justify-content: center;
  /* border: solid; */
}

.hidden {
  display: none;
}

.close-icon {
  padding: 0.5rem;
  border-radius: 50%;
  font-size: larger;
}

.close-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.show-password-icon {
  position: absolute;
  right: 5px;
  bottom: 6px;
}

@media screen and (max-width: 1200px) {
  .app-container {
    grid-template-columns: 0.3fr 2.2fr 1.2fr;
  }
}

@media screen and (max-width: 995px) {
  .app-container {
    grid-template-columns: 0.17fr 1fr;
    grid-template-areas: "left middle";
  }
  .right {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-areas: " middle ";
  }

  .left {
    display: none;
  }

  .right {
    display: none;
  }
  .bottom {
    display: block;
  }
}
