.profile-popup {
  position: absolute;
  padding: 1rem 0;
  bottom: 120px;
  left: 10px;
  /* right: 0; */
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 280px;
  /* height: 120px; */
  /* font-size: large; */
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.profile-popup-item {
  height: 50%;
  width: 100%;
  padding: 0.5rem 1rem;
}

.profile-popup-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.top-border-light-black {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.black-profile-popup {
  background-color: black;
  color: white;
  box-shadow: 0 0 15px rgba(201, 192, 192, 0.211);
}

.black-top-border-light-black {
  border-top: 1px solid rgba(221, 204, 204, 0.479);
}

@media screen and (min-width: 1200px) {
  .profile-popup {
    left: 70px;
    bottom: 130px;
  }
}

@media screen and (max-width: 550px) {
  .profile-popup {
    right: 10px;
    left: auto;
    bottom: 55px;
  }
}
