.choose-avatar-container {
  background-color: white;
  height: 300px;
  width: 460px;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  overflow: scroll;
}

.choose-avatar-close-icon {
  position: absolute;
  top: 2px;
  left: 10px;
}

.choose-avatar-heading {
  font-size: x-large;
  margin-bottom: 0.7rem;
  text-align: center;
}

.choose-avatar {
  margin: 0.4rem;
}

.choose-avatar:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.black-choose-avatar-container {
  background-color: black;
}
